body {
  background: #2C2B3D;

  font-family: 'Open Sans', sans-serif;
  color: white;

  margin: 0;
  min-height: 100vh;
}

.page {
  width: 1092px;
  margin: 0 auto;
  padding-top: 71px;

}

#cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 101px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 64px;

  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  font-family: 'JetBrains Mono', monospace;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul li a:hover {
  font-weight: 700;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 82px;
  margin-bottom: 167px;
}

main section {
  width: 604px;
  text-align: center;
}

main section h1 {
  font-family: 'JetBrains Mono', monospace;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;

  width: 610px;
  margin-bottom: 59px;
}

main section span {
  color: #00BFA6;
  font-weight: 700;
}

main section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;

  color: #C2C2C2;
}

footer {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;

  text-align: center;
}

footer #line {
  align-items: center;
  width: 568px;
  border: 1px solid #00BFA6;
  margin:0 auto 27px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  font-weight: 700;
}

#lock {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 16px;
}


